@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/* * { */
/*   box-sizing: border-box; */
/*   margin: 0; */
/*   padding: 0; */
/* } */

body {
  font-family: 'Poppins', sans-serif;
}

input{
    display: block;
    font-size:11px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:70px;
    margin:2px 0 20px 10px;
}

select{
    display: block;
    font-size:11px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:70px;
    margin:2px 0 20px 10px;
}

form { 
	/* margin: 0 10px 5px 0; */
	/* width: 25%; */
	/* max-width: 100px; */
	display: block;
}

div {
	display: block;
}

.root {
	display: block;
	/* display: inline-flex; */
	/* white-space: nowrap; */
}



