@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/* * { */
/*   box-sizing: border-box; */
/*   margin: 0; */
/*   padding: 0; */
/* } */

body {
  font-family: 'Poppins', sans-serif;
}

form { 
	margin: 0 10px 5px 0;
	/* width: 25%; */
	/* max-width: 100px; */
}

.root {
	display: inline-flex;
	/* white-space: nowrap; */
}



