@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
	color: #f4f4f4;
  font-family: 'Poppins', sans-serif;
}



input{
	margin: 10px auto 20px auto; 
	display: block;
	font-size:11px;
	padding:4px 2px;
	border-radius: 6px;
	width:150px;
}

select{
		margin: 10px auto 20px auto; 
    display: block;
    font-size:11px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
		border-radius: 4px;
    width:100px;
		position: relative;
}

form {
  max-width: 620px;
  margin: auto;
  padding: 10px;
}
.root {
	width: 970px;
	margin-left: auto; 
	margin-right: auto;
	background: #000080;
	display: block;
	text-align: center;
	border: 1px solid steelblue;
	border-radius: 20px;
}
h1 {
	color: black;
	font-weight: bold;
	font-size: 64px;
	text-align: center;
}
h2 {
	color: white;
	font-weight: bold;
	font-size: 32px;
	text-align: center;
}

button {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

